<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/styles.css"> 
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
         background-color: rgb(193, 193, 193) !important;
      }

      main {
        flex: 1;
        padding-top: 60px;
      }

      footer {
        background-color: #b5b5b5;
        color: #ffffff;
        padding: 10px;
        margin-top: auto;
      }

    </style>
  </head>
  <body>
    {{> header}}

    <main>
      {{{body}}}
    </main>

    {{> footer}}
  </body>
</html>
