{{> header}}

<section class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4">Welcome to Our Booking Page</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et risus justo. Nulla facilisi. Sed tempus hendrerit felis, non efficitur justo vestibulum vel. Nunc imperdiet augue ac ligula dignissim bibendum. Nullam accumsan, nulla sit amet cursus venenatis, metus dolor cursus odio, a euismod est leo nec neque. In hac habitasse platea dictumst.</p>

            <p>Proin tincidunt, arcu id consectetur sagittis, elit justo accumsan velit, et malesuada metus justo in urna. Vivamus dapibus auctor laoreet. Integer nec consequat lectus. Ut hendrerit, arcu eget commodo luctus, elit orci tincidunt dolor, vitae aliquet odio purus non odio. Aliquam nec sapien non purus fermentum consequat.</p>

            <p>Donec commodo metus et massa tincidunt fermentum. Curabitur facilisis felis vitae tortor rhoncus, a luctus dolor auctor. Quisque viverra vestibulum nulla, nec auctor tortor tincidunt nec. Suspendisse potenti.</p>
        </div>
    </div>
</section>
