{{> header}}

<link rel="stylesheet" href="/path/to/styles.css">

<section class="main-section">
  <div class="main-photo-container">
    <img src="/images/main-photo.jpg" class="img-fluid" alt="Main Photo">
  </div>
</section>
