{{> header}}

<section class="portfolio-container mt-5">
  <div class="portfolio-item">
    <img src="/images/bridesmaids.jpg" class="img-thumbnail custom-thumbnail" alt="Portfolio Image">
  </div>
  <div class="portfolio-item">
    <img src="/images/landscape-coast.jpg" class="img-thumbnail custom-thumbnail" alt="Portfolio Image">
  </div>
  <div class="portfolio-item">
    <img src="/images/wedding-rings.jpg" class="img-thumbnail custom-thumbnail" alt="Portfolio Image">
  </div>
  <div class="portfolio-item">
    <img src="/images/portrait-banana.jpg" class="img-thumbnail custom-thumbnail" alt="Portfolio Image">
  </div>
  <div class="portfolio-item">
    <img src="/images/wedding-house.jpg" class="img-thumbnail custom-thumbnail" alt="Portfolio Image">
  </div>
</section>
